* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    left: 50%;
    right: 50%;


}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#header {
    width: 100%;
    position: fixed;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: #f8d63f;
    text-align: center;


}


#navbar1 {
    font-weight: 100px;
}

.navbar-brand #rg1 {
    height: 59px;
    width: 424;
    margin-left: 40px;
    margin-top: 20px;

}

#navbarNav {
    margin-left: 200px;
    margin-top: 50px;

}

.nav-link {
    margin-left: 50px;
    font-weight: 500;
    font-size: 20px;

}

.navbar-nav {
    margin-left: 130px;
    margin-top: 30px;
}

.welcome {
    margin-right: 550px;
    font-size: 70px;
    font-weight: 500;
    color: #04294F;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-top: 100px;
}

#profile1 {
    background-color: #f8d63f;
    height: 699px;
    padding-top: 150px;
    width: 100%;
    padding-right: 4px;
}

#photo1 {
    height: 400px;
    width: 600px;
    margin-left: 635px;
    margin-top: -350px;

}

#desc1 {
    margin-right: 500px;
    font-size: 25px;
    font-weight: 400;
    margin-left: 90px;
    color: #ffffff;
    font-family: 'Poppins',
        sans-serif;
    width: 500px;
}

#profile-click {
    margin-top: -10px;
    padding-top: 10px;
    background-color: #f8d63f;
}

#more {
    display: none;
}

#myBtn {
    background-color: transparent;
    border-style: none;
    color: rgb(67, 65, 168);
    font-weight: 600;
    margin-left: -820px;
}


.paragraph1 {

    text-align: justify;
    font-size: 25px;
    font-family: 'Poppins',
        sans-serif;
    width: 900px;
    margin-top: 40px;
    display: inline-block;
    font-weight: 1;
    color: #04294F;
}

#about {
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;

}

#vnm {
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;
    padding-top: 30px;
    font-weight: 700;
}

.vnm-border {
    background-color: #f8d63f;
    height: 550px;
    width: 1050px;
    text-align: justify;
    margin-left: 100px;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}


.h3-vnm {
    font-weight: 600;
    font-family: 'Poppins',
        sans-serif;
    margin-left: 30px;
}

#vnm-h3 {
    margin-top: -50px;
}

.vnm-desc {
    margin-left: 20px;
    width: 400px;
    font-family: 'Poppins',
        sans-serif;
    font-size: 23px;
}

#photo-vnm {
    height: 500px;
    width: 500px;
    margin-top: -500px;
    margin-left: 500px;
}

.str-container {
    margin-top: 150px;
    height: 630px;
    width: 100%;
    background-color: #f8d63f;
}

#carousel-slide {
    display: flex;
    align-items: center;
    text-align: center;
}

#slideshow-1 {
    height: 500px;
    width: 800px;
}

#slideshow-2 {
    margin-top: 150px;
    height: 199.04px;
    width: 1000px;
}

#slideshow-3 {
    margin-top: 150px;
    height: 233.48px;
    width: 800px;
}

#slideshow-4 {
    height: 633.48px;
    width: 1000px;
    margin-top: -100px;
}

.container-ctc {
    height: 550px;
    width: 600px;
    margin-left: 200px;
    padding: 20px 20px;
    width: 866px;
    margin-top: 130px;
    background-color: #f8d63f;
    border-radius: 30px;

}

.h3-ctc {
    font-weight: 600;
    font-family: 'Poppins',
        sans-serif;

}

#ctc-h3 {
    margin-top: -70px;
}

#btn-ctc {
    margin-top: 5px;
}

.container-ctc form #first {
    width: 365px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
}

.container-ctc form #email {
    width: 365px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
}


.container-ctc form #message {
    width: 765px;
    height: 150px;
    padding: 8px 10px;
    border: none;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
}

.container-ctc form #option {
    width: 365px;
    padding: 8px 10px;
    border: none;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    margin-left: -340px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

#file {
    margin-left: -380px;
}

.container-ctc form button {
    width: 200px;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color: #ffffff;
    font-size: 18px;
    color: black;
    border-radius: 20px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
}

#desc-file {
    margin-left: 30px;
}

#footer {
    height: 240px;
    background-color: #f8d63f;
    margin-top: 200px;
    padding-bottom: 30px;
}

#logo-footer {
    margin: 40px 400px;
    height: 99px;
    width: 424px;

}

#copyright {
    font-family: 'Poppins',
        sans-serif;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: -20px;
}

#love {
    height: 24.97px;
    width: 30px;
}

#made-with-love {
    font-family: 'Poppins',
        sans-serif;
    font-weight: 500;
    text-align: center;
    color: black;
}

.wrapper {

    display: flex;
    text-align: center;
}

/* ====================================== Responsive Web ============================================== */

@media all and (max-width: 700px) {
    header {
        width: 500px;
    }

    #profile1 {
        background-color: #f8d63f;
        height: 699px;
        padding-top: 150px;
        width: 500px;
        padding-right: 4px;
    }

    .welcome {
        margin-left: 80px;
        font-size: 40px;
        font-weight: 500;
        color: #1054b9;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 700;
        display: inline-block;
        margin-top: 200px;
        width: 300px;
    }

    #desc1 {
        font-size: 18px;
        font-weight: 500;
        margin-left: 80px;
        color: #ffffff;
        font-family: 'Poppins',
            sans-serif;
        width: 300px;
    }

    #photo1 {
        height: 200px;
        width: 350px;
        margin-left: -30px;
        margin-top: -800px;
    }

    #myBtn {
        background-color: transparent;
        border-style: none;
        color: rgb(67, 65, 168);
        font-weight: 600;
        margin-left: -700px;
        font-size: 15px;
    }

    .paragraph1 {
        text-align: justify;
        font-size: 25px;
        font-family: 'Poppins',
            sans-serif;
        width: 900px;
        margin-top: 40px;
        display: inline-block;
        font-weight: 1;
        color: #22212c;
        width: 300px;
        margin-left: -10px;
    }

    #about {
        text-align: left;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 700;
        margin-left: 200px;
    }

    #vnm {
        text-align: center;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 700;
        padding-top: 30px;
        font-weight: 700;
    }

    .vnm-border {
        background-color: #f8d63f;
        height: 600px;
        width: 450px;
        text-align: justify;
        margin-left: 20px;
        margin-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
    }


    .h3-vnm {
        font-weight: 600;
        font-family: 'Poppins',
            sans-serif;
        text-align: center;
        margin-left: -20px;
        margin-top: 30px;
    }

    #vnm-h3 {
        margin-top: -50px;
    }

    .vnm-desc {
        margin-left: 5px;
        width: 400px;
        font-family: 'Poppins',
            sans-serif;
        font-size: 25px;
    }

    #photo-vnm {
        height: 500px;
        width: 500px;
        margin-top: -550px;
        margin-left: -40px;
        opacity: 0.15;
    }

    .str-container {
        margin-top: 150px;
        height: 600px;
        width: 500px;
        background-color: #f8d63f;
    }


    #slideshow-1 {
        height: 400px;
        width: 500px;
        margin-left: -10px;
    }

    #slideshow-2 {
        margin-top: 150px;
        height: 89.57px;
        width: 450px;
    }

    #slideshow-3 {
        height: 233.48px;
        width: 550px;
        margin-left: -20px;
    }

    #slideshow-4 {
        height: 633.48px;
        width: 700px;
        margin-top: -100px;
        margin-left: -105px;
    }

    .container-ctc {
        height: 650px;
        width: 400px;
        padding: 20px 25px;
        margin-top: 130px;
        background-color: #f8d63f;
        border-radius: 30px;
        margin-left: 50px;
    }

    .h3-ctc {
        font-weight: 600;
        font-family: 'Poppins',
            sans-serif;
    }

    #ctc-h3 {
        margin-top: -50px;
    }

    #btn-ctc {
        margin-top: 10px;
        margin-left: 0px;
    }

    .container-ctc form #first {
        width: 300px;
        padding: 8px 10px;
        margin-bottom: 15px;
        border: none;
        background-color: #ffffff;
        border: 1px solid black;
        color: black;
        font-size: 20px;
        margin-left: 10px;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 600;
    }

    .container-ctc form #email {
        width: 300px;
        padding: 8px 10px;
        margin-bottom: 15px;
        border: none;
        background-color: #ffffff;
        border: 1px solid black;
        color: black;
        font-size: 20px;
        margin-left: 10px;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 600;
    }


    .container-ctc form #message {
        width: 300px;
        height: 150px;
        padding: 8px 10px;
        border: none;
        background-color: #ffffff;
        border: 1px solid black;
        color: black;
        font-size: 20px;
        margin-left: 10px;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 600;
    }

    .container-ctc form #option {
        width: 300px;
        padding: 8px 10px;
        border: none;
        background-color: #ffffff;
        border: 1px solid black;
        color: black;
        font-size: 20px;
        margin-left: 10px;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 600;
        margin-bottom: 40px;
    }

    #file {
        margin-left: 10px;
    }

    .container-ctc form button {
        width: 200px;
        height: 40px;
        padding: 5px 0;
        border: none;
        background-color: #ffffff;
        font-size: 18px;
        color: black;
        border-radius: 20px;
        font-family: 'Poppins',
            sans-serif;
        font-weight: 600;
    }

    #desc-file {
        margin-left: 30px;
    }

    #footer {
        height: 240px;
        background-color: #f8d63f;
        margin-top: 200px;
        padding-bottom: 30px;
        width: 500px;
    }

    #logo-footer {
        margin-bottom: 30px;
        margin-left: 30px;
        height: 99px;
        width: 424px;

    }

    #copyright {
        font-family: 'Poppins',
            sans-serif;
        color: black;
        font-weight: 600;
        text-align: center;
        margin-top: -20px;
    }

    #love {
        height: 24.97px;
        width: 30px;
    }

    #made-with-love {
        font-family: 'Poppins',
            sans-serif;
        font-weight: 500;
        text-align: center;
    }
}

@media all and (min-width: 800px) {}